img {
  opacity: 0;
  -webkit-transition: opacity 0.33s ease-in-out;
  -moz-transition: opacity 0.33s ease-in-out;
  -o-transition: opacity 0.33s ease-in-out;
  transition: opacity 0.33s ease-in-out;
}

img:hover {
  opacity: 1;
}

/* can't use this right now, it causes crazy glitch effects with bacgkround's that use image maps */
/*
.ChromeBgHider {
  -webkit-transition:background 0.33s ease-in;
  -moz-transition:background 0.33s ease-in;
  -o-transition:background 0.33s ease-in;
  transition:background 0.33s ease-in;
}
*/

.ChromeBgHider:not(:hover) {
  background: transparent !important;
}

.ChromeVisHider:not(:hover) {
  visibility:hidden !important;
}

*:hover > .ChromeVisHider {
    visibility: visible !important;
}
